@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body
{
	background-color: purple;
}

nav 
{
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
	color: pink;
}

a
{
	text-align: right;
	font-size: 25px
}

h1
{
	color: pink;
	text-align: center;
	font-size: 50px;
	font-family: 'courgette'
}

nav 
{
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
}



video 
{
	height: 320px;
	width : 176px;
}


li
{
	list-style-type: none;
	color: pink;
	font-size: 25px

}




